.player{
    display:flex;
    align-items:center;
    width:300px;
    height:100px;
    background-color: #424242;
    border-top-left-radius: 50px;
    border-bottom-left-radius:50px;
    img{
        margin-left:10px;
        height:80px;
        width:80px;
        border-radius:100%;
    }
    span{
        font-size:24px;
        margin-left:24px;
        color:white !important;
    }
    &:hover{
        filter:brightness(1.2);
    }
}

.playerActive{
    background-color:#c2185b;
}