.playfield{
    height:100vh;
    width:100vw;
    max-width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: url('^assets/img/wood-background.jpeg');
}

.card-deck{
    position:relative;
    img{
        position:absolute;
        height:150px;
    }
}

.pick-card{
    animation: pick-card-animation 1.5s ease-in-out;
    transform: scale(1.0) translateX(-200px) rotate(-20deg) !important;
}

.played-card{
    left:15px;
    bottom:15px;
    transform: scale(1.0) translateX(-200px) rotate(-20deg) !important;
}

.player-layout{
    position:absolute;
    
}

.btn-add{
    position:absolute;
    left:3%;
    top:3%;
}

.game-helper{
    position:absolute;
    bottom:3%;
    left:3%;
    right:3%;
}

@media (max-width:800px){
    .game-helper{
        bottom:0;
        left:0;
        right:0;
        
    }
}

.dark-overlay{
    background-color:rgba(0,0,0,0.5);
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    max-width:100%;
}

.hide{
    display:none;
}

.blinking-button{
    
    animation: blinking-button 3s infinite;
}

app-player, .card-deck{
    cursor:pointer;
}

@keyframes blinking-button{
    0%{
        filter:brightness(1);
    }
    25%{
        filter:brightness(1.4);
    }
    50%{
        filter:brightness(1.0);
    }
    75%{
        filter:brightness(1.4);
    }
    100%{
        filter:brightness(1.0);
    }
}


@keyframes pick-card-animation {
    0%{
        transform: scale(1.0);
    }

    33%{
        transform: scale(1.5);
    }
    
    66%{
        transform: scale(1.5);
    }

    100%{
        transform: scale(1.0) translateX(-200px) rotate(-20deg);
    }
}

@media (min-width:720px){
    .hide-mobile{
        display:none;
    }
}

@media(max-width:720px){
    .hide-desktop{
        display:none;
    }
}